<% include head %>
    <!--container start-->
    <div class="container">
        <!--portfolio start-->
        <div class="gallery-container">
            <ul id="filters" class="list-unstyled">
                <li><a href="#" data-filter="*"> All</a></li>
                <li><a href="#" data-filter=".strategy">Strategy</a></li>
                <li><a href="#" data-filter=".thematic">Thematic</a></li>
                <li><a href="#" data-filter=".family">Family</a></li>
                <li><a href="#" data-filter=".war">War</a></li>
                <li><a href="#" data-filter=".party">Party</a></li>
            </ul>
            <div id="gallery" class="col-4">

                <div class="element strategy item view view-tenth" data-zlname="reverse-effect">
                    <img src="img/games/ascension.jpg" alt="" />
                    <div class="mask">
                        <h2>Acension </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="icon-thumbs-up"></i>
                        </a>
                        <a data-zl-popup="link2" rel="group" href="img/games/ascension.jpg">
                            <i class="icon-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element strategy item view view-tenth" data-zlname="reverse-effect">
                    <img src="img/games/agricola.jpg" alt="" />
                    <div class="mask">
                        <h2>Agricola </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="icon-thumbs-up"></i>
                        </a>
                        <a data-zl-popup="link2" rel="group" href="img/games/agricola.jpg">
                            <i class="icon-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element party item view view-tenth" data-zlname="reverse-effect">
                    <img src="img/games/bang.jpg" alt="" />
                    <div class="mask">
                        <h2>Bang </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="icon-thumbs-up"></i>
                        </a>
                        <a data-zl-popup="link2" rel="group" href="img/games/bang.jpg">
                            <i class="icon-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element family item view view-tenth" data-zlname="reverse-effect">
                    <img src="img/games/carcassonne.jpg" alt="" />
                    <div class="mask">
                        <h2>Carcassonne </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="icon-thumbs-up"></i>
                        </a>
                        <a data-zl-popup="link2" rel="group" href="img/games/carcassonne.jpg">
                            <i class="icon-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element party item view view-tenth" data-zlname="reverse-effect">
                    <img src="img/games/cardsagainsthumanity.jpg" alt="" />
                    <div class="mask">
                        <h2>Cards Against Humanity </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="icon-thumbs-up"></i>
                        </a>
                        <a data-zl-popup="link2" rel="group" href="img/games/cardsagainsthumanity.jpg">
                            <i class="icon-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element thematic item view view-tenth" data-zlname="reverse-effect">
                    <img src="img/games/munchkin.jpg" alt="" />
                    <div class="mask">
                        <h2>Munchkin </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="icon-thumbs-up"></i>
                        </a>
                        <a data-zl-popup="link2" rel="group" href="img/games/munchkin.jpg">
                            <i class="icon-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element family item view view-tenth" data-zlname="reverse-effect">
                    <img src="img/games/loveletter.jpg" alt="" />
                    <div class="mask">
                        <h2>Love Letter </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="icon-thumbs-up"></i>
                        </a>
                        <a data-zl-popup="link2" rel="group" href="img/games/loveletter.jpg">
                            <i class="icon-search"></i>
                        </a>
                    </div>
                </div>
                <div class="element family strategy item view view-tenth" data-zlname="reverse-effect">
                    <img src="img/games/pandemic.jpg" alt="" />
                    <div class="mask">
                        <h2>Pandemic </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="icon-thumbs-up"></i>
                        </a>
                        <a data-zl-popup="link2" rel="group" href="img/games/pandemic.jpg">
                            <i class="icon-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element strategy item view view-tenth" data-zlname="reverse-effect">
                    <img src="img/games/smashup.jpg" alt="" />
                    <div class="mask">
                        <h2>Smash Up </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="icon-thumbs-up"></i>
                        </a>
                        <a data-zl-popup="link2" rel="group" href="img/games/smashup.jpg">
                            <i class="icon-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element family item view view-tenth" data-zlname="reverse-effect">
                    <img src="img/games/tickettoride.jpg" alt="" />
                    <div class="mask">
                        <h2>Ticket to Ride </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="icon-thumbs-up"></i>
                        </a>
                        <a data-zl-popup="link2" rel="group" href="img/games/tickettoride.jpg">
                            <i class="icon-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element family item view view-tenth" data-zlname="reverse-effect">
                    <img src="img/games/battleship.jpg" alt="" />
                    <div class="mask">
                        <h2>Battleship </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="icon-thumbs-up"></i>
                        </a>
                        <a data-zl-popup="link2" rel="group" href="img/games/battleship.jpg">
                            <i class="icon-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element strategy war flat item view view-tenth" data-zlname="reverse-effect">
                    <img src="img/games/1775rebellion.jpg" alt="" />
                    <div class="mask">
                        <h2>1775 Rebellion </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="icon-thumbs-up"></i>
                        </a>
                        <a data-zl-popup="link2" rel="group" href="img/games/1775rebellion.jpg">
                            <i class="icon-search"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <!--portfolio end-->
    </div>
    <!--container end-->
    <% include plugins %>
<% include foot %>