<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Place favicon.ico (and apple-touch-icon.png) in the root directory -->
        <!-- Sort stylesheets by least specific to most-specific, 3rd-party stylesheets before our styles -->
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/jquery-ui-custom-dark/jquery-ui-1.10.2.custom.min.css" />
        <link rel="stylesheet" href="/css/datatables/jquery.dataTables_themeroller.css" />

            <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/theme.css" rel="stylesheet">
        <link href="css/bootstrap-reset.css" rel="stylesheet">
        <!--external css-->
        <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />

        <link href="css/superfish.css" rel="stylesheet">
        <link href="css/superfish-vertical.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/style-responsive.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/header.css" />