<% include head %>
    <div id="container">
        <h1>Welcome to Meeple Huddle</h1>
        <% if (typeof user === 'undefined') { %>
            <div>
                <h2>Choose one:</h2>
                <a href="/register" class="btn btn-success btn-large">Register</a>
                <a href="/login" class="btn btn-primary btn-large">Login</a>
            </div>
        <% }
        else if (user.metrics.length === undefined) { %>
            <div>
                <h2>Choose a way to define your game preferences:</h2>
                <a href="/questionnaire" class="btn btn-warning">Answer some questions</a>
                <a href="/self_describe" class="btn btn-info">Describe yourself</a>
            </div>
        <% }
        else { %>
            <div>
                <h2>Here are some games you may like:</h2>
                <div>Meeple Huddle can't calculate this yet.</div>
            </div>
        <% } %>
        
        <% if (typeof message === 'string') { %>
          <p><%= message %></p>
        <% } %>
    </div> <!-- container -->

    <% include plugins %>

<% include foot %>