<% include head %>
    <div class="container">
        <% if (typeof user === 'undefined') { %>
            <div>
 <div>
   <a id="image-container">
    </a>
</div>
        <h1>Welcome to Meeple Huddle</h1>
                <a href="/register" class="btn btn-success btn-large">Register</a>
                <a href="/login" class="btn btn-primary btn-large">Login</a>
            </div>

        <div id = "red_background">
        <h4>We help you find the <b>perfect</b> game for you and your friends by providing you with:</h4>
        <h4>
        <ul class = "sell_points">
        <li><a>1. A user-friendly game database </a></li>
        <li><a>2. A game recommendation system based on your persionality and game preferences</a></li>
        <li><a>3. A game rental service that let you try before you buy</h5>  </a>
        </ul>
        </div>
        <% }
        else if (typeof recommendations !== 'undefined') { %>
            <div>
                <h2>Here are some games you may like:</h2>
                <div class="gallery-container">
                    <div id="gallery" class="col-4">
                <% recommendations.forEach(function(game) { %>
                  <div class="element item view view-tenth" data-zlname="reverse-effect">
                      <img src="/img/games/<%= game.file_name %>" alt="<%= game.name %>" />
                      <div class="mask">
                          <h2><%= game.name %> </h2>
                      </div>
                  </div>
                <% }); %>
                    </div>
                </div>
            </div>
        <% }
        else { %>
            <div>
                <h2>Choose a way to define your game preferences:</h2>
                <a href="/judge" class="btn btn-warning">By games</a>
                <a href="/self_describe" class="btn btn-info">By questions</a>
            </div>
        <% } %>
        
        <% if (typeof message === 'string') { %>
          <p><%= message %></p>
        <% } %>
    </div> <!-- container -->

    <% include plugins %>

<% include foot %>