<% include head %>
    <div class="container">
        <h1>Welcome to Meeple Huddle</h1>
        <% if (typeof user === 'undefined') { %>
            <div>
                <h2>Choose one:</h2>
                <a href="/register" class="btn btn-success btn-large">Register</a>
                <a href="/login" class="btn btn-primary btn-large">Login</a>
            </div>
        <% }
        else if (typeof recommendations !== 'undefined') { %>
            <div>
                <h2>Here are some games you may like:</h2>
                <div class="gallery-container">
                    <div id="gallery" class="col-5">
                <% recommendations.forEach(function(game) { %>
                  <div class="element item view view-tenth" data-zlname="reverse-effect">
                      <img src="/img/games/<%= game.file_name %>" alt="<%= game.name %>" />
                      <div class="mask">
                          <h2><%= game.name %> </h2>
                      </div>
                  </div>
                <% }); %>
                    </div>
                </div>
            </div>
        <% }
        else { %>
            <div>
                <h2>Choose a way to define your game preferences:</h2>
                <a href="/questionnaire" class="btn btn-warning">Answer some questions</a>
                <a href="/self_describe" class="btn btn-info">Describe yourself</a>
            </div>
        <% } %>
        
        <% if (typeof message === 'string') { %>
          <p><%= message %></p>
        <% } %>
    </div> <!-- container -->

    <% include plugins %>

<% include foot %>