<% include head %>
    <div id="container">
        <h1>Ready to answer some questions?</h1>
        <div>
            <h3>Do you like games?</h3>
            <form action="/answer/5" method="post">
                <button class="btn btn-success btn-large">Yes</button>
            </form>
            <form action="/answer/1" method="post">
                <button class="btn btn-danger btn-large">No</button>
            </form>
        </div>
    </div> <!-- container -->

    <% include plugins %>

<% include foot %>