<% include head %>
    <div id="container">
        <h1>Describe your game preferences</h1>
        <%
        var metrics = [
          { label: 'Aesthetics:', name: 'aesthetic', value: old_metrics.internal.aesthetic || 1 }
        , { label: 'Challenge:', name: 'challenge', value: old_metrics.internal.challenge || 1 }
        , { label: 'Pass Time:', name: 'pass_time', value: old_metrics.internal.pass_time || 1 }
        , { label: 'Narrative:', name: 'narrative', value: old_metrics.internal.narrative || 1 }
        , { label: 'Discovery:', name: 'discovery', value: old_metrics.internal.discovery || 1 }
        , { label: 'Chance:', name: 'chance', value: old_metrics.internal.chance || 1 }
        , { label: 'Confrontation:', name: 'confrontation', value: old_metrics.external.confrontation || 1 }
        , { label: 'Manipulation:', name: 'manipulation', value: old_metrics.external.manipulation || 1 }
        , { label: 'Accumulation:', name: 'accumulation', value: old_metrics.external.accumulation || 1 }
        , { label: 'Teamwork:', name: 'teamwork', value: old_metrics.external.teamwork || 1 }
        ]; %>
        <form id="metrics_form" action="/describe" method="post">
            <% metrics.forEach(function(metric_obj) { %>
                <div>
                    <span class="slider_label"><%= metric_obj.label %></span>
                    <span class="slider"></span>
                    <input class="slider_val" name="<%= metric_obj.name %>" type="text" value=<%= metric_obj.value %> />
                </div>
            <% }); %>
            <input type="submit" />
        </form>
    </div> <!-- container -->

    <% include plugins %>
    <script>
      $('.slider').slider({
        min: 1
      , max: 5
      , create: function(e, ui) {
          $(this).slider('value', $(this).siblings('input').val());
        }
      , slide: function(e, ui) {
          $(this).siblings('input').val(ui.value);
        }
      , change: function(e, ui) {
          $(this).siblings('input').val($(this).slider('value'));
        }
      });
    </script>

<% include foot %>