@font-face {
    /*font found at http://www.fontsquirrel.com/fonts/Destroy*/
    font-family: "DESTROY";
    src: url(/DESTROY.ttf) format("truetype");
}

@font-face {
    /* http://www.fontspace.com/jonathan-hill/planer */
    font-family: "Planer_Reg";
    src: url(/Planer_Reg.otf) format("opentype");
}

header {
    font-family: Planer_Reg, Helvetica, sans-serif;
   /* position: fixed;*/
    z-index: 9999;
}



@media all and (min-width: 762px) {

}





.navbar > ul > li > ul {
    background-color: black;
    position: absolute;
    width: 7em;
    font-size: .9em;
    left: -999em;
}

.navbar a:link    { color: white; }
.navbar a:visited { color: #CCCCCC; }
.navbar a:hover   { color: red; }
.navbar a.current_page  { color: chartreuse; }
.navbar a#lobby_trigger  { color: orange; }
.navbar a#lobby_trigger:hover  { color: red; }


.navbar li:hover ul, .navbar li ul:hover {
    overflow: visible;
    left:auto;
}
/* I can't remember what this was for, so I'm commenting it out, as it's breaking the temporary bitcoin info page h3
h3 {
    font-size: 1em;
    color: #efefff;
    text-align: center;
    margin: 0px auto 0 auto;
    margin-bottom: 20px;
}
*/

#feedback_message {
    display: none;
}

#loader {
    display: none;
}

.dropdown_form {
    background-color: rgba(0,0,0,.88);
    color: #CCCCCC;
    min-width: 200px;
    position: absolute;
    display: none;
    font-size: .8em;
    padding: 1em;
    text-align: center;
}

#login form {
    margin-bottom: 1em;
}

#login a:visited {
    color: #2f96b4;
}

#login input, #register input {
    width: 150px;
}

#account {
    width: 260px;
    position: absolute;
    display: none;
}

